<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- base dataSource -->
    <bean id="abstractDatasource" abstract="true"
          class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <property name="maxActive" value="${db.maxPoolSize}"/>
        <property name="initialSize" value="${db.initialPoolSize}"/>
        <property name="maxWait" value="${db.maxWait}"/>
        <property name="minIdle" value="${db.initialPoolSize}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${db.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="SELECT 'x' FROM CMB.T_ACPTCONF"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxPoolPreparedStatementPerConnectionSize"
                  value="${db.maxPoolPreparedStatementPerConnectionSize}"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="1200"/>
        <property name="logAbandoned" value="true"/>
    </bean>


    <bean id="dataSource" parent="abstractDatasource" primary="false">
        <property name="driverClassName" value="${cmb.datasource.driveClassName}"/>
        <property name="Url" value="${cmb.datasource.url}"/>
        <property name="username" value="${cmb.datasource.username}"/>
        <property name="password" value="${cmb.datasource.password}"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描Mapping.xml文件 -->
<!--        <property name="mapperLocations" value="${mybatis.mapper-locations}"/>-->
        <property name="configLocation" value="${mybatis.config-location}"/>
        <property name="typeAliasesPackage" value="com.ftzmis.mq.model"/>
    </bean>


</beans>